.donate-container {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  background: #d8f8da;
  border-radius: 15px;
  text-align: center;
}

/* Amount */
.donation-amounts {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.donation-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* pushes .donation-amounts to bottom */
  height: 100px; /* or whatever height you want */
}

.donation-amounts button {
  padding: 15px 20px;
  background: #098d1f;
  color: white;
  border: none;
  border-radius: 10px;
}

.donation-amounts button.active {
  background: #066e17;
}

.donation-amounts input {
  padding: 10px;
  width: 120px;
}

/* Gift */
.gift-section {
  margin: 50px 0;
}

.gift-cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.gift-card {
  width: 180px;
  padding: 15px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  background: white;
}

.gift-card img {
  width: 40px;
}

.qty {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.qty button {
  width: 30px;
  height: 30px;
  border: none;
  background: green;
  color: white;
  border-radius: 50%;
}

/* Donate btn */
.donate-btn {
  margin-top: 20px;
  padding: 15px 30px;
  background: rgb(251, 215, 13);
  border: none;
  border-radius: 8px;
}

/* Form */
.donation-form {
  margin-top: 40px;
  background: rgba(251, 232, 192, 0.688);
  padding: 30px;
  border-radius: 10px;
}

.donation-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.payment-methods {
  display: flex;
  gap: 10px;
}

.payment-methods button {
  flex: 1;
  padding: 10px;
  border: 2px solid rgba(86, 86, 86, 0.505);
  background: white;
}

.payment-methods button.active {
  background: green;
  color: white;
}

.submit-btn {
  margin-top: 10px;
  width: 40%;
  padding: 12px;
  background: green;
  color: white;
}